---
import { getCollection } from "astro:content"
const services = await getCollection("services")
---

<div class='images-container'>
  {
    services.map((service) => (
      <div class='image' data-status={service.data.dataState} data-item={service.data.dataItem}>
        <picture>
          <source
            type='image/avif'
            srcset={`
      https://res.cloudinary.com/djrny1bwv/image/upload/f_avif,w_400/v1682118126/on-time-solution/services/${service.data.image}.jpg 400w,
      https://res.cloudinary.com/djrny1bwv/image/upload/f_avif,w_600/v1682118126/on-time-solution/services/${service.data.image}.jpg 600w,
      https://res.cloudinary.com/djrny1bwv/image/upload/f_avif,w_800/v1682118126/on-time-solution/services/${service.data.image}.jpg 800w
    `}
          />
          <source
            type='image/webp'
            srcset={`
      https://res.cloudinary.com/djrny1bwv/image/upload/f_webp,w_400/v1682118126/on-time-solution/services/${service.data.image}.jpg 400w,
      https://res.cloudinary.com/djrny1bwv/image/upload/f_webp,w_600/v1682118126/on-time-solution/services/${service.data.image}.jpg 600w,
      https://res.cloudinary.com/djrny1bwv/image/upload/f_webp,w_800/v1682118126/on-time-solution/services/${service.data.image}.jpg 800w
    `}
          />
          <img
            src={`https://res.cloudinary.com/djrny1bwv/image/upload/w_250/v1682118126/on-time-solution/services/${service.data.image}.jpg`}
            alt={service.data.alt}
            class='service-img'
            width={service.data.imageWidth}
            height={service.data.imageHeight}
          />
        </picture>

        <h3 class='margin-block-start-6'>{service.data.name}</h3>
        <p>{service.data.description}</p>
      </div>
    ))
  }
</div>

<script>
  const buttonItems: NodeListOf<HTMLButtonElement> = document.querySelectorAll(".button-item")

  const images: NodeListOf<HTMLDivElement> = document.querySelectorAll(".image")

  buttonItems.forEach((button) => {
    button.addEventListener("click", () => {
      images.forEach((image) => {
        if (button.getAttribute("id") !== image.getAttribute("data-item")) {
          image.classList.remove("anime-fade-in-image")
          image.classList.add("anime-fade-out-image")

          setTimeout(() => {
            image.setAttribute("data-status", "inactive")
          }, 300)
        }

        if (button.getAttribute("data-item") === image.getAttribute("data-item")) {
          image.classList.remove("anime-fade-out-image")
          setTimeout(() => {
            image.classList.add("anime-fade-in-image")
            image.setAttribute("data-status", "active")
          }, 300)
        }
      })
    })
  })
</script>
