---
import { getCollection } from "astro:content"
const services = await getCollection("services")
import { Picture } from "@astrojs/image/components"
---

<div class='images-container'>
  {
    services.map((service) => (
      <div class='image' data-status={service.data.dataState} data-item={service.data.dataItem}>
        <Picture
          src={service.data.image}
          format={("avif", "webp", "jpeg")}
          quality={100}
          widths={[400, 600, 800]}
          aspectRatio='1:1'
          alt={service.data.alt}
          sizes='(max-width: 800px) 100vw, 800px'
          class='service-img'
        />

        <h3 class='margin-block-start-6'>{service.data.name}</h3>
        <p>{service.data.description}</p>
      </div>
    ))
  }
</div>

<script>
  const buttonItems: NodeListOf<HTMLButtonElement> = document.querySelectorAll(".button-item")

  const images: NodeListOf<HTMLDivElement> = document.querySelectorAll(".image")

  buttonItems.forEach((button) => {
    button.addEventListener("click", () => {
      images.forEach((image) => {
        if (button.getAttribute("id") !== image.getAttribute("data-item")) {
          image.classList.remove("anime-fade-in-image")
          image.classList.add("anime-fade-out-image")

          setTimeout(() => {
            image.setAttribute("data-status", "inactive")
          }, 300)
        }

        if (button.getAttribute("data-item") === image.getAttribute("data-item")) {
          image.classList.remove("anime-fade-out-image")
          setTimeout(() => {
            image.classList.add("anime-fade-in-image")
            image.setAttribute("data-status", "active")
          }, 300)
        }
      })
    })
  })
</script>
